try-import .bazelrc.user

common:nixos --action_env=PATH=/run/current-system/sw/bin:/usr/bin/
common:nixos --repo_env=PATH=/run/current-system/sw/bin:/usr/bin/
common:nixos --host_action_env=PATH=/run/current-system/sw/bin:/usr/bin/
