---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import Dashboard from '../components/Dashboard';
---

<BaseLayout>
  <Header />
  <main class="oma-main">
    <Sidebar />
    <div class="oma-content">
      <Dashboard client:load />
    </div>
  </main>
  <Footer />
</BaseLayout>
